<body>
 <!-- metrics -->
 <!-- /metrics -->
 <!-- -->
 <ui-view>
  <app user-profile="::$resolve.userProfile">
   <ui-header>
    <!-- -->
    <div ng-include="$ctrl.globalHeaderIncludeUrl">
     <link href="/assets/styles/globalnav.css?02002524063" rel="stylesheet" type="text/css"/>
     <link href="/assets/styles/suggest-lang.css?27202513134" rel="stylesheet" type="text/css"/>
     <div class="ribbon hide" id="suggest-lang" lang="en">
      <div class="ribbon-content-wrapper">
       <div class="ribbon-content row">
        <div class="column large-12 large-centered">
         <p>
          <a class="ribbon-link more" href="#" id="suggest-link">
           View in English
          </a>
         </p>
         <button aria-label="Dismiss language suggestion" class="icon icon-after icon-reset" id="suggest-closer" tabindex="0">
         </button>
        </div>
       </div>
      </div>
     </div>
     <aside class="ac-gn-segmentbar" dir="ltr" id="ac-gn-segmentbar" lang="en-US">
     </aside>
     <input class="ac-gn-menustate" id="ac-gn-menustate" type="checkbox"/>
     <div class="ac-gn-blur">
     </div>
     <div class="ac-gn-curtain" id="ac-gn-curtain">
     </div>
     <div class="ac-nav-placeholder" id="ac-gn-placeholder">
     </div>
     <link href="/assets/styles/search.css?02002524063" rel="stylesheet"/>
    </div>
   </ui-header>
   <ui-local-nav>
    <link href="/assets/styles/localnav.css" property="stylesheet" rel="stylesheet" type="text/css"/>
    <input aria-controls="localnav-menustate-tray" aria-expanded="false" class="localnav-menustate" id="localnav-menustate" type="checkbox"/>
    <label for="localnav-menustate" id="localnav-curtain">
    </label>
   </ui-local-nav>
   <ui-session-nav user-profile="::$ctrl.userProfile">
   </ui-session-nav>
   <!-- -->
   <ui-view>
    <!-- -->
    <ui-view>
     <!-- -->
     <ui-view>
      <app-events-detail-dashboard active-tab-view="::$resolve.activeTabView" active-teams="::$resolve.activeTeams" consultation-sessions="::$resolve.consultationSessions" event="::$resolve.event" event-team-invitation-limit="::$resolve.eventTeamInvitationLimit" event-team-members="::$resolve.eventTeamMembers" event-teams="::$resolve.eventTeams" has-accepted-attendance-policy="::$resolve.hasAcceptedAttendancePolicy" is-adult-or-allowlisted-minor="::$resolve.isAdultOrAllowlistedMinor" lab-sessions="::$resolve.labSessions" presentation-sessions="::$resolve.presentationSessions" sessions="::$resolve.sessions" should-show-presentation-language="::$resolve.shouldShowPresentationLanguage" user-profile="::$resolve.userProfile">
       <div class="app-events-detail-dashboard">
        <main class="main legacy-form" id="main" role="main">
         <div class="legacy-grid margin-top margin-bottom">
          <div class="Card CardStatic EventCard row-flex row-flex-column gap-1-5">
           <div class="row-flex flex-split-2">
            <div class="row-flex row-flex-column" style="gap: 1.5em">
             <!-- Publishing status -->
             <!-- -->
             <!-- Event name -->
             <h2 data-activity-title="WWDC25의 중대 발표 내용 알아보기" ng-bind="::$ctrl.event.currentLocalization.nameWithZeroWidthSpaces">
              WWDC25의 중대 발표 내용 알아보기
             </h2>
             <!-- Event topic description -->
             <p class="no-margin-top">
              <!-- -->
              <!-- -->
              <span class="pre-wrap" ng-bind-html="$ctrl.event.contents[0].currentLocalization.description" ng-if="::$ctrl.EventsEventUtilityService.isTrack($ctrl.event) === false">
               온라인으로 참여하여 WWDC25에서 발표된 주요 기능을 자세히 살펴보세요. 새로운 Apple 기술을 살펴보고 앱 및 게임을 위한 이점을 설명합니다. 이 세션은 디자이너, 개발자, 제품 관리자 등 모든 팀원을 위해 마련되었습니다. 한국어로 진행됩니다.

- 13:00 - 13:10: 인트로
- 13:10 - 14:00: visionOS의 새로운 내용 알아보기
- 14:00 - 14:50: 머신 러닝과 Apple Intelligence
- 14:50 - 15:40: 새로운 Liquid Glass 디자인 알아보기
- 15:40 - 16:10: iPad용 앱 향상시키기
- 16:10 - 16:25: App Store의 새로운 내용 알아보기
              </span>
              <!-- -->
             </p>
             <div class="large-hide medium-show no-margin-top">
              <div class="row-flex row-flex-column no-margin-top" style="gap: 1.25em">
               <!-- Event date and time -->
               <!-- -->
               <event-datetime duration="::$ctrl.event.contents[0].duration" event="$ctrl.event" momentous="$ctrl.EventsEventUtilityService.getDisplayDate($ctrl.event)" ng-if="::$ctrl.EventsEventUtilityService.shouldShowDatetime($ctrl.event)">
                <!-- -->
                <div class="event-datetime" ng-if="$ctrl.momentous">
                 <!-- Date, or date range -->
                 <div data-date="">
                  <sf-symbol name="calendar" style="display: inline-flex;">
                  </sf-symbol>
                  <span ng-switch="$ctrl.getDateScenario()">
                   <!-- Multi-year -->
                   <!-- -->
                   <!-- Multi-month -->
                   <!-- -->
                   <!-- Multi-day -->
                   <!-- -->
                   <span ng-switch-when="multiDay">
                    <!-- April 15-17 -->
                    <span ng-bind="$ctrl.momentous.startMoment | formatDayjs : 'L'">
                     7월 10일
                    </span>
                    –
                    <span ng-bind="$ctrl.momentous.endMoment | formatDayjs : 'Do, YYYY'">
                     11일, 2025
                    </span>
                   </span>
                   <!-- -->
                   <!-- Single-day -->
                   <!-- -->
                  </span>
                 </div>
                 <div class="lighter" data-time="">
                  <!-- Single timeframe -->
                  <!-- -->
                  <!-- Multiple times available -->
                  <!-- -->
                  <span i18n="components.eventDatetime.multipleTimeslots" ng-if="$ctrl.hasMultipleTimesAvailable()">
                   여러 시간대
                  </span>
                  <!-- -->
                 </div>
                </div>
                <!-- -->
               </event-datetime>
               <!-- -->
               <!-- Event profile -->
               <event-profile event="::$ctrl.event" should-show-presentation-language="::$ctrl.shouldShowPresentationLanguage">
                <ul class="event-profile">
                 <!-- Event conference type -->
                 <li>
                  <event-type event="::$ctrl.event">
                   <!-- -->
                   <span class="event-type" ng-if="$ctrl.event">
                    <sf-symbol name="desktopcomputer" ng-attr-name="{{ $ctrl.getEventTypeSymbolName() }}" style="display: inline-flex;">
                    </sf-symbol>
                    <span i18n="components.eventType.onlinePresentation" ng-attr-i18n="{{ $ctrl.getEventTypeI18nKey() }}">
                     온라인 세션
                    </span>
                   </span>
                   <!-- -->
                  </event-type>
                 </li>
                 <!-- Location name -->
                 <!-- -->
                 <li ng-if="::$ctrl.EventsEventUtilityService.shouldShowLocation()">
                  <event-location event="::$ctrl.event">
                   <span class="event-location">
                    <sf-symbol name="mappin.and.ellipse" style="display: inline-flex;">
                    </sf-symbol>
                    <span ng-bind="$ctrl.event.location.name">
                     Apple Korea, Seoul
                    </span>
                   </span>
                  </event-location>
                 </li>
                 <!-- -->
                 <!-- Event presentation language(s) -->
                 <!-- -->
                 <li ng-if="::$ctrl.shouldShowPresentationLanguage">
                  <event-language event="::$ctrl.event">
                   <!-- -->
                   <span class="event-language nowrap" ng-if="$ctrl.event">
                    <sf-symbol name="translate" style="display: inline-flex;">
                    </sf-symbol>
                    <span ng-bind="$ctrl.localizedLanguagesLabel">
                     한국어
                    </span>
                   </span>
                   <!-- -->
                  </event-language>
                 </li>
                 <!-- -->
                </ul>
               </event-profile>
              </div>
             </div>
             <!-- Event registration window notice (desktop) -->
             <!-- -->
             <p class="small-hide" ng-if="$ctrl.shouldShowEventRegistrationWindowNotice()">
              <event-registration-window-notice event="$ctrl.event">
               <!-- -->
               <span class="event-registration-window-notice" data-appointment-duration="" data-registration-end-date="7월 11일" data-registration-end-time="오후 12:00(GMT+9)" data-registration-start-date="6월 12일" data-registration-start-time="오전 12:00" i18n="components.eventRegistrationWindowNotice.postRegistrationWindowStart.nonScreening" ng-attr-i18n="{{ $ctrl.getI18nKey() }}" ng-if="$ctrl.event">
                7월 11일 오후 12:00(GMT+9)까지 등록하실 수 있습니다.
               </span>
               <!-- -->
              </event-registration-window-notice>
             </p>
             <!-- -->
             <!-- -->
             <div class="no-margin-top" ng-if="
                $ctrl.EventsEventUtilityService.shouldShowSignInLink($ctrl.event) ||
                $ctrl.shouldShowRegisterButton() ||
                $ctrl.shouldShowJoinWaitlistButton() ||
                $ctrl.shouldShowEventRegistrationWindowNotice()
              ">
              <!-- Sign-in -->
              <!-- -->
              <div ng-if="$ctrl.EventsEventUtilityService.shouldShowSignInLink($ctrl.event)">
               <event-sign-in-link event="::$ctrl.event">
                <a class="event-sign-in-link button button-block button-elevated button-neutral" href="/login/?return=%2Fevents%2Fview%2FTCSPG9PN8Y%2Fdashboard" i18n="common.cta.register" ng-attr-i18n="{{ ::$ctrl.getI18nKey() }}" ng-href="/login/?return=%2Fevents%2Fview%2FTCSPG9PN8Y%2Fdashboard">
                 <!-- Register -->
                 <!-- Request -->
                 <!-- Join waitlist -->
                </a>
               </event-sign-in-link>
              </div>
              <!-- -->
              <!-- Register (modal flow) -->
              <!-- -->
              <!-- -->
              <!-- -->
              <!-- Join waitlist -->
              <!-- -->
              <!-- Event registration window notice (mobile) -->
              <!-- -->
              <div class="smaller large-hide small-show" ng-if="$ctrl.shouldShowEventRegistrationWindowNotice()" style="margin-top: 0.85em">
               <event-registration-window-notice event="$ctrl.event">
                <!-- -->
                <span class="event-registration-window-notice" data-appointment-duration="" data-registration-end-date="7월 11일" data-registration-end-time="오후 12:00(GMT+9)" data-registration-start-date="6월 12일" data-registration-start-time="오전 12:00" i18n="components.eventRegistrationWindowNotice.postRegistrationWindowStart.nonScreening" ng-attr-i18n="{{ $ctrl.getI18nKey() }}" ng-if="$ctrl.event">
                 7월 11일 오후 12:00(GMT+9)까지 등록하실 수 있습니다.
                </span>
                <!-- -->
               </event-registration-window-notice>
              </div>
              <!-- -->
             </div>
             <!-- -->
             <!-- -->
             <!-- Parental consent notice -->
             <!-- -->
             <!-- Team registration limit notice -->
             <!-- -->
             <!-- Event status indicator -->
             <event-status-indicator event="$ctrl.event">
              <!-- -->
             </event-status-indicator>
             <!-- WWDC lab notices -->
             <!-- -->
             <!-- -->
            </div>
            <!-- Event aside (desktop) -->
            <div class="medium-hide">
             <div class="row-flex row-flex-column">
              <event-aside event="::$ctrl.event" should-show-presentation-language="::$ctrl.shouldShowPresentationLanguage" teams="::$ctrl.activeTeams">
               <aside class="event-aside">
                <div data-upper="">
                 <!-- Event date and time -->
                 <!-- -->
                 <event-datetime duration="::$ctrl.event.contents[0].duration" event="$ctrl.event" momentous="$ctrl.EventsEventUtilityService.getDisplayDate($ctrl.event)" ng-if="::$ctrl.EventsEventUtilityService.shouldShowDatetime($ctrl.event)">
                  <!-- -->
                  <div class="event-datetime" ng-if="$ctrl.momentous">
                   <!-- Date, or date range -->
                   <div data-date="">
                    <sf-symbol name="calendar" style="display: inline-flex;">
                    </sf-symbol>
                    <span ng-switch="$ctrl.getDateScenario()">
                     <!-- Multi-year -->
                     <!-- -->
                     <!-- Multi-month -->
                     <!-- -->
                     <!-- Multi-day -->
                     <!-- -->
                     <span ng-switch-when="multiDay">
                      <!-- April 15-17 -->
                      <span ng-bind="$ctrl.momentous.startMoment | formatDayjs : 'L'">
                       7월 10일
                      </span>
                      –
                      <span ng-bind="$ctrl.momentous.endMoment | formatDayjs : 'Do, YYYY'">
                       11일, 2025
                      </span>
                     </span>
                     <!-- -->
                     <!-- Single-day -->
                     <!-- -->
                    </span>
                   </div>
                   <div class="lighter" data-time="">
                    <!-- Single timeframe -->
                    <!-- -->
                    <!-- Multiple times available -->
                    <!-- -->
                    <span i18n="components.eventDatetime.multipleTimeslots" ng-if="$ctrl.hasMultipleTimesAvailable()">
                     여러 시간대
                    </span>
                    <!-- -->
                   </div>
                  </div>
                  <!-- -->
                 </event-datetime>
                 <!-- -->
                 <!-- Event profile -->
                 <event-profile event="::$ctrl.event" should-show-presentation-language="::$ctrl.shouldShowPresentationLanguage">
                  <ul class="event-profile">
                   <!-- Event conference type -->
                   <li>
                    <event-type event="::$ctrl.event">
                     <!-- -->
                     <span class="event-type" ng-if="$ctrl.event">
                      <sf-symbol name="desktopcomputer" ng-attr-name="{{ $ctrl.getEventTypeSymbolName() }}" style="display: inline-flex;">
                      </sf-symbol>
                      <span i18n="components.eventType.onlinePresentation" ng-attr-i18n="{{ $ctrl.getEventTypeI18nKey() }}">
                       온라인 세션
                      </span>
                     </span>
                     <!-- -->
                    </event-type>
                   </li>
                   <!-- Location name -->
                   <!-- -->
                   <li ng-if="::$ctrl.EventsEventUtilityService.shouldShowLocation()">
                    <event-location event="::$ctrl.event">
                     <span class="event-location">
                      <sf-symbol name="mappin.and.ellipse" style="display: inline-flex;">
                      </sf-symbol>
                      <span ng-bind="$ctrl.event.location.name">
                       Apple Korea, Seoul
                      </span>
                     </span>
                    </event-location>
                   </li>
                   <!-- -->
                   <!-- Event presentation language(s) -->
                   <!-- -->
                   <li ng-if="::$ctrl.shouldShowPresentationLanguage">
                    <event-language event="::$ctrl.event">
                     <!-- -->
                     <span class="event-language nowrap" ng-if="$ctrl.event">
                      <sf-symbol name="translate" style="display: inline-flex;">
                      </sf-symbol>
                      <span ng-bind="$ctrl.localizedLanguagesLabel">
                       한국어
                      </span>
                     </span>
                     <!-- -->
                    </event-language>
                   </li>
                   <!-- -->
                  </ul>
                 </event-profile>
                </div>
                <!-- -->
               </aside>
              </event-aside>
             </div>
            </div>
           </div>
           <!-- Tabbed content (track only) -->
           <!-- -->
           <!-- Inline content (non-track events) -->
           <!-- -->
           <!-- Inline content (invitations) -->
           <!-- -->
           <!-- Event notes -->
           <!-- -->
          </div>
         </div>
        </main>
        <!-- Event registration modal -->
        <ui-modal ui-modal-class="event-registration-modal takeover" ui-modal-controller="::$ctrl.EventRegistrationModalViewController" ui-modal-dialog-labelled-by="event-registration-modal-label" ui-modal-id="ui.modals.eventRegistrationModal" ui-modal-template="::$ctrl.eventRegistrationModalTemplate">
         <section aria-hidden="true" class="modal event-registration-modal takeover inactive loading" ng-attr-aria-hidden="{{ getComponentState() === 'inactive' }}" ng-class="{ 'loading': isLocked() }" ui-component="ui.modals.eventRegistrationModal" ui-component-state="inactive" ui-component-state-change-duration="250">
          <!-- View dimmer -->
          <!-- -->
          <section class="dimmer inactive" ng-if="::modalHasDimmer">
          </section>
          <!-- -->
          <!-- View -->
          <ui-modal-view aria-labelledby="event-registration-modal-label" class="view" ng-attr-aria-label="{{ ::modalDialogLabel }}" ng-attr-aria-labelledby="{{ ::modalDialogLabelledBy }}" role="dialog" ui-dismissable="" ui-lockable="">
           <!-- Active (form) -->
           <form class="legacy-form legacy-form-inline ng-pristine ng-valid ng-hide" focus-backend-errors="" id="submissionForm" name="submissionForm" ng-show="event &amp;&amp; getComponentState() === 'active'" ng-submit="onDidSubmit($event)" novalidate="">
            <!-- -->
           </form>
           <!-- Confirmation -->
           <!-- -->
           <!-- Error -->
           <!-- -->
          </ui-modal-view>
         </section>
        </ui-modal>
        <!-- Event cancellation modal -->
        <ui-modal ui-modal-class="event-cancellation-modal takeover" ui-modal-controller="::$ctrl.EventCancellationModalViewController" ui-modal-dialog-labelled-by="event-cancellation-modal-label" ui-modal-id="ui.modals.eventCancellationModal" ui-modal-template="::$ctrl.eventCancellationModalTemplate">
         <section aria-hidden="true" class="modal event-cancellation-modal takeover inactive loading" ng-attr-aria-hidden="{{ getComponentState() === 'inactive' }}" ng-class="{ 'loading': isLocked() }" ui-component="ui.modals.eventCancellationModal" ui-component-state="inactive" ui-component-state-change-duration="250">
          <!-- View dimmer -->
          <!-- -->
          <section class="dimmer inactive" ng-if="::modalHasDimmer">
          </section>
          <!-- -->
          <!-- View -->
          <ui-modal-view aria-labelledby="event-cancellation-modal-label" class="view" ng-attr-aria-label="{{ ::modalDialogLabel }}" ng-attr-aria-labelledby="{{ ::modalDialogLabelledBy }}" role="dialog" ui-dismissable="" ui-lockable="">
           <!-- Active -->
           <!-- -->
           <!-- Confirmation -->
           <!-- -->
           <!-- Error -->
           <!-- -->
          </ui-modal-view>
         </section>
        </ui-modal>
        <!-- Send invites modal -->
        <!-- -->
        <ui-modal ng-if="::($ctrl.event.program.key !== 'wwdc2025' &amp;&amp; $ctrl.event.program.key !== 'wwdc2025-special-event')" ui-modal-class="send-invites-modal takeover" ui-modal-controller="::$ctrl.SendInvitesModalViewController" ui-modal-dialog-labelled-by="send-invites-modal-label" ui-modal-id="ui.modals.sendInvitesModal" ui-modal-template="::$ctrl.sendInvitesModalTemplate">
         <section aria-hidden="true" class="modal send-invites-modal takeover inactive" ng-attr-aria-hidden="{{ getComponentState() === 'inactive' }}" ng-class="{ 'loading': isLocked() }" ui-component="ui.modals.sendInvitesModal" ui-component-state="inactive" ui-component-state-change-duration="250">
          <!-- View dimmer -->
          <!-- -->
          <section class="dimmer inactive" ng-if="::modalHasDimmer">
          </section>
          <!-- -->
          <!-- View -->
          <ui-modal-view aria-labelledby="send-invites-modal-label" class="view" ng-attr-aria-label="{{ ::modalDialogLabel }}" ng-attr-aria-labelledby="{{ ::modalDialogLabelledBy }}" role="dialog" ui-dismissable="" ui-lockable="">
           <!-- Active -->
           <div class="row-flex row-flex-column gap-1 ng-hide" ng-show="getComponentState() === 'active'" tabindex="0">
            <p i18n="components.sendInvitesModal.prompt.heading">
             아래 목록의 멤버를 초대하려고 합니다. 초대를 취소하고자 할 경우, 해당 멤버가 아직 등록을 하지 않았다면 초대를 취소할 수 있습니다.
            </p>
            <!-- Nominee list -->
            <ul class="no-margin-top text-left">
             <!-- -->
            </ul>
            <div class="buttons no-margin-top row-flex gap-1">
             <!-- Cancel the action -->
             <button class="button button-block button-secondary-neutral" data-ax-default-focus="" href="/events/view/TCSPG9PN8Y/dashboard" i18n="common.cta.cancel" role="button" tabindex="0" ui-sref="app.events.detail.dashboard">
              <!-- Cancel -->
             </button>
             <!-- Confirm the action -->
             <button class="button button-block button-neutral" i18n="common.cta.sendInvites" ng-click="onDidConfirm($event)" role="button" tabindex="0" type="button">
              <!-- Invite -->
             </button>
            </div>
           </div>
           <!-- Confirmation -->
           <div class="row-flex row-flex-column gap-1 ng-hide" ng-show="getComponentState() === 'confirmation'" style="align-items: center;" tabindex="0">
            <p class="text-center" i18n="components.sendInvitesModal.confirmation.heading">
             초대장이 전송되었습니다.
            </p>
            <div class="buttons no-margin-top">
             <!-- Done -->
             <button class="button button-neutral" data-ax-default-focus="" href="/events/view/TCSPG9PN8Y/dashboard" i18n="common.cta.done" role="button" tabindex="0" ui-sref="app.events.detail.dashboard">
              <!-- Done  -->
             </button>
            </div>
           </div>
           <!-- Error -->
           <div class="text-center ng-hide" ng-show="getComponentState() === 'error'" tabindex="0">
            <h4 class="margin-bottom" ng-switch="errorKey">
             <!-- -->
             <!-- -->
             <!-- -->
             <!-- -->
             <span i18n="components.sendInvitesModal.error." ng-attr-i18n="{{ 'components.sendInvitesModal.error.' + errorKey }}" ng-switch-default="">
              components.sendInvitesModal.error.
             </span>
             <!-- -->
            </h4>
            <div class="buttons">
             <!-- Close (error) -->
             <button class="button button-neutral" data-ax-default-focus="" href="/events/view/TCSPG9PN8Y/dashboard" i18n="common.cta.close" role="button" tabindex="0" ui-sref="app.events.detail.dashboard">
             </button>
            </div>
           </div>
          </ui-modal-view>
         </section>
        </ui-modal>
        <!-- -->
        <!-- Resend invite modal -->
        <!-- -->
        <ui-modal ng-if="::($ctrl.event.program.key !== 'wwdc2025' &amp;&amp; $ctrl.event.program.key !== 'wwdc2025-special-event')" ui-modal-class="resend-invite-modal takeover" ui-modal-controller="::$ctrl.ResendInviteModalViewController" ui-modal-dialog-labelled-by="resend-invite-modal-label" ui-modal-id="ui.modals.resendInviteModal" ui-modal-template="::$ctrl.resendInviteModalTemplate">
         <section aria-hidden="true" class="modal resend-invite-modal takeover inactive" ng-attr-aria-hidden="{{ getComponentState() === 'inactive' }}" ng-class="{ 'loading': isLocked() }" ui-component="ui.modals.resendInviteModal" ui-component-state="inactive" ui-component-state-change-duration="250">
          <!-- View dimmer -->
          <!-- -->
          <section class="dimmer inactive" ng-if="::modalHasDimmer">
          </section>
          <!-- -->
          <!-- View -->
          <ui-modal-view aria-labelledby="resend-invite-modal-label" class="view" ng-attr-aria-label="{{ ::modalDialogLabel }}" ng-attr-aria-labelledby="{{ ::modalDialogLabelledBy }}" role="dialog" ui-dismissable="" ui-lockable="">
           <!-- Active -->
           <!-- -->
           <!-- Confirmation -->
           <!-- -->
           <!-- Error -->
           <!-- -->
          </ui-modal-view>
         </section>
        </ui-modal>
        <!-- -->
        <!-- Revoke invite modal -->
        <!-- -->
        <ui-modal ng-if="::($ctrl.event.program.key !== 'wwdc2025' &amp;&amp; $ctrl.event.program.key !== 'wwdc2025-special-event')" ui-modal-class="revoke-invite-modal takeover" ui-modal-controller="::$ctrl.RevokeInviteModalViewController" ui-modal-dialog-labelled-by="revoke-invite-modal-label" ui-modal-id="ui.modals.revokeInviteModal" ui-modal-template="::$ctrl.revokeInviteModalTemplate">
         <section aria-hidden="true" class="modal revoke-invite-modal takeover inactive" ng-attr-aria-hidden="{{ getComponentState() === 'inactive' }}" ng-class="{ 'loading': isLocked() }" ui-component="ui.modals.revokeInviteModal" ui-component-state="inactive" ui-component-state-change-duration="250">
          <!-- View dimmer -->
          <!-- -->
          <section class="dimmer inactive" ng-if="::modalHasDimmer">
          </section>
          <!-- -->
          <!-- View -->
          <ui-modal-view aria-labelledby="revoke-invite-modal-label" class="view" ng-attr-aria-label="{{ ::modalDialogLabel }}" ng-attr-aria-labelledby="{{ ::modalDialogLabelledBy }}" role="dialog" ui-dismissable="" ui-lockable="">
           <!-- Active -->
           <!-- -->
           <!-- Confirmation -->
           <!-- -->
           <!-- Error -->
           <!-- -->
          </ui-modal-view>
         </section>
        </ui-modal>
        <!-- -->
        <!-- Event session registration modal -->
        <!-- -->
        <ui-modal ng-if="::($ctrl.event.program.key !== 'wwdc2025' &amp;&amp; $ctrl.event.program.key !== 'wwdc2025-special-event')" ui-modal-class="event-session-registration-modal takeover" ui-modal-controller="::$ctrl.EventSessionRegistrationModalViewController" ui-modal-dialog-labelled-by="event-session-registration-modal-label" ui-modal-id="ui.modals.eventSessionRegistrationModal" ui-modal-template="::$ctrl.eventSessionRegistrationModalTemplate">
         <section aria-hidden="true" class="modal event-session-registration-modal takeover inactive" ng-attr-aria-hidden="{{ getComponentState() === 'inactive' }}" ng-class="{ 'loading': isLocked() }" ui-component="ui.modals.eventSessionRegistrationModal" ui-component-state="inactive" ui-component-state-change-duration="250">
          <!-- View dimmer -->
          <!-- -->
          <section class="dimmer inactive" ng-if="::modalHasDimmer">
          </section>
          <!-- -->
          <!-- View -->
          <ui-modal-view aria-labelledby="event-session-registration-modal-label" class="view" ng-attr-aria-label="{{ ::modalDialogLabel }}" ng-attr-aria-labelledby="{{ ::modalDialogLabelledBy }}" role="dialog" ui-dismissable="" ui-lockable="">
           <!-- Active (form) -->
           <form class="legacy-form legacy-form-inline ng-pristine ng-valid ng-hide" focus-backend-errors="" id="submissionForm" name="submissionForm" ng-show="eventSession &amp;&amp; getComponentState() === 'active'" ng-submit="onDidSubmit($event)" novalidate="">
            <!-- -->
           </form>
           <!-- Confirmation -->
           <!-- -->
           <!-- Error -->
           <!-- -->
          </ui-modal-view>
         </section>
        </ui-modal>
        <!-- -->
        <!-- Event session cancellation modal -->
        <!-- -->
        <ui-modal ng-if="::($ctrl.event.program.key !== 'wwdc2025' &amp;&amp; $ctrl.event.program.key !== 'wwdc2025-special-event')" ui-modal-class="event-session-cancellation-modal takeover" ui-modal-controller="::$ctrl.EventSessionCancellationModalViewController" ui-modal-dialog-labelled-by="event-session-cancellation-modal-label" ui-modal-id="ui.modals.eventSessionCancellationModal" ui-modal-template="::$ctrl.eventSessionCancellationModalTemplate">
         <section aria-hidden="true" class="modal event-session-cancellation-modal takeover inactive" ng-attr-aria-hidden="{{ getComponentState() === 'inactive' }}" ng-class="{ 'loading': isLocked() }" ui-component="ui.modals.eventSessionCancellationModal" ui-component-state="inactive" ui-component-state-change-duration="250">
          <!-- View dimmer -->
          <!-- -->
          <section class="dimmer inactive" ng-if="::modalHasDimmer">
          </section>
          <!-- -->
          <!-- View -->
          <ui-modal-view aria-labelledby="event-session-cancellation-modal-label" class="view" ng-attr-aria-label="{{ ::modalDialogLabel }}" ng-attr-aria-labelledby="{{ ::modalDialogLabelledBy }}" role="dialog" ui-dismissable="" ui-lockable="">
           <!-- Active -->
           <!-- -->
           <!-- Confirmation -->
           <!-- -->
           <!-- Error -->
           <!-- -->
          </ui-modal-view>
         </section>
        </ui-modal>
        <!-- -->
       </div>
      </app-events-detail-dashboard>
     </ui-view>
    </ui-view>
   </ui-view>
   <ui-footer>
    <link href="/assets/styles/footer.dist.css" rel="stylesheet"/>
    <footer aria-labelledby="footer-label" class="footer" id="footer" role="contentinfo">
     <div class="footer-content">
      <h2 class="footer-label" id="footer-label">
       Developer Footer
      </h2>
      <!-- -->
      <div class="footer-sosumi" name="footnotes" ui-view="">
      </div>
      <developer-breadcrumbs ng-transclude="breadcrumbSlot" style="display: block;">
      </developer-breadcrumbs>
      <!-- -->
      <!-- -->
      <div class="footer-directory" ng-if="$ctrl.shouldShowDirectory" ng-include="" src="$ctrl.footerDirectoryIncludeUrl">
      </div>
      <!-- -->
      <!-- -->
      <div class="footer-mini" ng-include="" src="$ctrl.footerLegalIncludeUrl">
       <section class="footer-mini" typeof="Organization" vocab="http://schema.org/">
        <div class="footer-mini-news">
         <div class="copy">
          Get the
          <a href="https://apps.apple.com/us/app/apple-developer/id640199958">
           Apple Developer app
          </a>
          .
         </div>
         <div class="content">
          <div aria-label="Select a color scheme preference" class="color-scheme-toggle" role="radiogroup" tabindex="0">
           <label data-color-scheme-option="light">
            <input autocomplete="off" onchange="window.setPreferredColorScheme(event.target.value)" type="radio" value="light"/>
            <div class="text">
             라이트
            </div>
           </label>
           <label data-color-scheme-option="dark">
            <input autocomplete="off" onchange="window.setPreferredColorScheme(event.target.value)" type="radio" value="dark"/>
            <div class="text">
             다크
            </div>
           </label>
           <label data-color-scheme-option="auto">
            <input autocomplete="off" onchange="window.setPreferredColorScheme(event.target.value)" type="radio" value="auto"/>
            <div class="text">
             자동
            </div>
           </label>
          </div>
         </div>
        </div>
        <link href="/assets/styles/language-dropdown.css?02002524063" rel="stylesheet"/>
        <div class="language-dropdown dropdown-container legacy-form hidden">
         <select aria-label="Language Dropdown" class="dropdown">
         </select>
         <span aria-hidden="true" class="dropdown-icon icon icon-chevrondown">
         </span>
        </div>
        <div class="footer-mini-legal">
         <div class="footer-mini-legal-copyright">
          Copyright ©  2025
          <a href="https://www.apple.com">
           Apple Inc.
          </a>
          All rights reserved.
         </div>
         <div class="footer-mini-legal-links">
          <a class="footer-mini-legal-link" href="https://www.apple.com/legal/internet-services/terms/site.html">
           Terms of Use
          </a>
          <a class="footer-mini-legal-link" href="https://www.apple.com/legal/privacy/">
           Privacy Policy
          </a>
          <a class="footer-mini-legal-link" href="/support/terms/">
           Agreements and Guidelines
          </a>
         </div>
        </div>
       </section>
      </div>
     </div>
    </footer>
   </ui-footer>
  </app>
 </ui-view>
 <span style="visibility: hidden; position: absolute; top: 0px; z-index: -1;">
 </span>
 <div data-viewport-emitter-dispatch="" data-viewport-emitter-state='{"viewport":"large","orientation":"landscape","retina":false}' id="localnav-viewport-emitter">
 </div>
 <div id="ac-gn-viewport-emitter">
 </div>
</body>
